<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/goods_list.css"/>
	</head>
	<body>
		<div class="right_bottom_list">
			<table cellspacing="0" cellpadding="">
				<tr>
					<td>编号</td>
					<td>商品名称</td>
					<td>货号</td>
					<td>价格</td>
					<td>上架</td>
					<td>精品</td>
					<td>新品</td>
					<td>热销</td>
					<td>推荐排序</td>
					<td>库存</td>
					<td>虚拟销量</td>
					<td>操作</td>
				</tr>
			</table>
			<div class="page">
				总计&nbsp;&nbsp;<i></i>&nbsp;&nbsp;个记录&nbsp;&nbsp;分为&nbsp;&nbsp;<em></em>&nbsp;&nbsp;页&nbsp;&nbsp;当前第 &nbsp;&nbsp;<b>1</b>&nbsp;&nbsp;页，每页&nbsp;&nbsp<input type="text" value="15" size="3"/> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;" onclick="first()">第一页 </a><a href="javascript:;" onclick="last()">上一页 </a><a href="javascript:;" onclick="next()">下一页  </a> <a href="javascript:;" onclick="end()">最末页</a>
			</div>
			<div id="footer">
	    		
共执行 9 个查询，用时 0.025606 秒，Gzip 已禁用，内存占用 3.578 MB<br>

版权所有 ? 2005-2018 上海商派软件有限公司，并保留所有权利。
	    	</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery-1.11.3.js" ></script>
	<script type="text/javascript" src="/js/goods_list.js" ></script>
</html>
