<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/manager.css"/>
	</head>
	<body>
		<!--top-->
		<div id="top">
			<div class="clear">
				<h1><img src="/images/logo.png"/></h1>
				<ul class="top_nav">
					<li><a href="#"><img src="/images/topmune_09.png"/><p>更多模板堂产品</p></a></li>
					<li><a href="#"><img src="/images/topmune_01.png"/><p>开店向导</p></a></li>
					<li><a href="#"><img src="/images/topmune_02.png"/><p>记事本</p></a></li>
					<li><a href="#"><img src="/images/topmune_03.png"/><p>刷新</p></a></li>
					<li><a href="#"><img src="/images/topmune_04.png"/><p>个人设置</p></a></li>
					<li><a href="#"><img src="/images/topmune_05.png"/><p>管理员留言</p></a></li>
					<li><a href="#"><img src="/images/topmune_06.png"/><p>查看网店</p></a></li>
					<li><a href="#"><img src="/images/topmune_007.png"/><p>帮助</p></a></li>
					<li><a href="#"><img src="/images/topmune_07.png"/><p>关于ECSHOP</p></a></li>
					<li><a href="#"><img src="/images/qingchu.png"/><p>清除缓存</p></a></li>
					<li><a href="#"><img src="/images/topmune_08.png"/><p>退出</p></a></li>
				</ul>
			</div>
			<div class="clear">
				<ul class="middle_nav">
					<li><a href="#"><b></b>起始页</a><i>|</i></li>
					<li><a href="#"><b></b>设置导航栏</a><i>|</i></li>
					<li><a href="#"><b></b>商品管理<u>0</u></a><i>|</i></li>
					<li><a href="#"><b></b>订单管理<u>0</u></a><i>|</i></li>
					<li><a href="#"><b></b>广告管理<u>0</u></a><i>|</i></li>
					<li><a href="#"><b></b>用户评论<u>0</u></a><i>|</i></li>
					<li><a href="#">商品列表</a></li>
					<li><a href="#">订单列表</a></li>
					<li><a href="#">用户评论</a></li>
					<li><a href="#">会员列表</a></li>
					<li><a href="#">商店设置</a></li>
					<li><a href="#">移动版</a></li>
					<li><a href="#">服务市场</a></li>
				</ul>
			</div>
		</div>
		<!--main-->
		<div id="main">
			<div class="left">
				<h2>导航菜单</h2>
				<ul class="left_list">
					<li>
						<a href="javascript:;"><i></i>商品管理<em>+</em></a>
						<ul class="left_list2">
							<a href="./goods_list" target="content"><li>商品列表</li></a>
							<a href="./add_list" target="content"><li>添加新商品</li></a>
							<li>商品分类</li>
							<li>用户评论</li>
							<li>商品品牌</li>
							<li>商品类型</li>
							<li>商品回收站</li>
							<li>图片批量处理</li>
							<li>图片批量上传</li>
							<li>图片批量导出</li>
							<li>商品批量修改</li>
							<li>生成商品代码</li>
							<li>标签管理</li>
							<li>虚拟商品列表</li>
							<li>添加虚拟商品</li>
							<li>更改加密串</li>
							<li>商品自动上下架</li>
						</ul>
					</li>
					<li><a href="javascript:;"><i></i>促销管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>订单管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>广告管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>报表统计<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>文章管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>会员管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>权限管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>系统管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>模板管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>数据库管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>短信管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>推荐管理<em>+</em></a></li>
					<li><a href="javascript:;"><i></i>邮件群发管理<em>+</em></a></li>
				</ul>
			</div>
			<div class="right">
				<div class="right_left"></div>
				<div class="right_right">
					<div class="list_top">
						<h3>ECSHOP 管理中心 - 商品列表 </h3>
						<input type="button" name="top_add" id="top_add" value="商品列表" />
					</div>
					<iframe id="content" name="content" src="" style="width: 100%;height: 85%;border: none;"></iframe>
<!-----------------------------商品列表--------------------------------->
					
<!--------------------------添加新商品--------------------------------------->
					
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery-1.11.3.js" ></script>
	<script type="text/javascript" src="/js/manage.js" ></script>
</html>